body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
}

.information{
    display: flex;
    flex-direction: column;
}

.quote{
    display: flex;
    flex-direction: column;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.content-image{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}