body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
}

.information{
    display: flex;
    flex-direction: column;
}

.quote{
    display: flex;
    flex-direction: column;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.logo{
    font-weight: bold;
    font-size: 24px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.links,
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

.content-image{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 300px;
    flex: 0 0 auto;
}

.i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    flex: 0 0 auto;
}

.content,
.i
{
    width: 400px;
    flex: 1 0 auto;
    padding: 8px;
}

.Sign-Up-Top{
    display: flex;
    flex: 0 0 auto;
    width: 100px;
    height: 32px;
    margin: 8px;
    justify-content: center;
    align-items: center;
}

img{
    max-width: fit-content;
}

a{
    color: white;
}